<td>
    <%=model.ProductId%>
</td>
<td>
    <%=(model.RealName=="")? model.UserName:model.RealName%>
</td>
<td>
    <%=model.Name%>
</td>
<td>
    <%=model.Quant%>
</td>
<td>
    <%=model.Unit%>
</td>
<td>
    <%=model.Price%>
</td>
<td>
    <%=model.Location%>
</td>
<td>
    <%=model.ProductDateCreated%>
</td>
<td>
    <%if(model.Type=="selling"){%>
        <a href="" class="photoManager">管理照片</a>
        <%}else if(model.Type=="buying"){%>
            <a href="" class="quotingList">报价信息</a>
            <%}%>
</td>