<table class="table" id="userHistory">
    <thead>
        <th>报价用户</th>
        <th>名称</th>
        <th>数量</th>
        <th>价格</th>
        <th>地点</th>
        <th>手机</th>
        <th>发布日期</th>
    </thead>
    <tbody>
        <%_.each(collection,function(model){%>
            <tr>
                <th>
                    <%=model.UserName%>
                </th>
                <th>
                    <%=model.Name%>
                </th>
                <th>
                    <%=model.Quant%>
                </th>
                <th>
                    <%=model.Price%>
                </th>
                <th>
                    <%=model.Location%>
                </th>
                <th>
                    <%=model.PhoneNumber%>
                </th>
                <th>
                    <%=model.ProductDateCreated%>
                </th>
            </tr>
            <%})%>
    </tbody>
</table>