<style>
tr.item {
    cursor: pointer;
}
</style>
<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="FilteringClose">
                <div class="title-alt">
                    <h6>出售信息</h6>
                    <div class="titleClose">
                        <a class="gone" href="#FilteringClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Filtering">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="Filtering">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-12">
                            <input class="form-control" id="searchBox" placeholder="输入查询条目相关信息" type="text">
                        </div>
                    </div>
                    <table id="sellingTable" class="table-striped table footable metro-blue" data-filter="#filter" data-filter-text-only="true">
                        <thead>
                            <tr>
                                <th data-toggle="true">
                                    ID
                                </th>
                                <th>
                                    用户
                                </th>
                                <th>
                                    品名
                                </th>
                                <th data-hide="phone,tablet">
                                    数量
                                </th>
                                <th data-hide="phone,tablet">
                                    单位
                                </th>
                                <th data-hide="all">
                                    价格
                                </th>
                                <th>
                                    地点
                                </th>
                                <th>
                                    创建日期
                                </th>
                            </tr>
                        </thead>
                        <tbody id="dataBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>