@media (max-width: 320px){
	#container-equipmentManagement{
		width:100%;
		height:100%;
	}
	.top_nav{
		background-color: #5bc0de;
		height:35px;
	}
	.top_nav i{
		margin:5px 10px;
		font-size: 1.5em
	}

	.content-wrapper{
        width:100%;
        height:70%;
        padding:0px 15px;
        margin:20px auto;

	}

	.search-wrapper{
		width:100%;
		height:7%;
		margin-bottom:20px;

	}
	.search-wrapper input{
		width:80%;
		float:left;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.search-wrapper button{
		width:20%;		
		float:right;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.list-wrapper{
		height:85%;
		overflow: hidden;
	}

	.list-wrapper table th,td{
		padding:5px;
		font-weight:600;

	}
	.list-wrapper table th{
		font-size:0.8em;
		font-weight: 500;
		color:#8f8f8f;
	}
	.list-wrapper table tr{
		height:40px;
	}

	.list-wrapper table th:first-child{
		width:100%;
	}
    
	.lable {
		  display: inline;
		  padding: .2em .6em .3em;
		  font-size: 75%;
		  font-weight: normal;
		  line-height: 1;
		  color: #fff;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: baseline;
		  border-radius: .25em;
    }
    .lable-available{
    	background-color: #5cb85c
    }
    .lable-danmage{
    	background-color: #d9534f
    }
    .lable-occupied{
    	background-color: #f0ad4e;
    }

    .btn-round{
    	  background-color: #5bc0de;
		  border-radius: 999em;
		  width: 56px;
		  height: 56px;
		  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		  line-height: 1;
		  font-size: 3em;
		  position: relative;
		  left:220px;
		  top:-20px;
		  cursor: pointer;
		  display: inline-block;
    }
    .btn-round span {
		  position: absolute;
		  left: 0;
		  top: 50%;
		  height: 100%;
		  width: 100%;
		  text-align: center;
		  margin-top: -22px;
		  color: #FFF;
    }
    .footer{
    	background-color:#fff;
    	width:100%;
    	height:18%;
    	position:absolute;
    	bottom:0px;
    }


}