/***************************************************/
/*  Global or Viper App Level                      */
/***************************************************/

* {
    /*font-family: 'Arial', sans-serif;*/
    
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
}
body {
    overflow-y: hidden;
    background: #DEDFE0;
}
.btnGroup:after {
    content: "";
    display: table;
    clear: both;
}
.btnGroup .halfWidth {
    width: 45% !important;
    margin-right: 5% !important;
}
.fullWidth {
    width: 99% !important;
}
#tag-header {
    box-shadow: 1px 0 10px 3px #898989;
    position: relative;
    z-index: 99;
}
.relative {
    position: relative !important;
}
.inline-block {
    display: inline-block !important;
}
.title.header + .btnGroup {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999999;
}
.plusBtn {
    font-family: 'Times New Roman' !important;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    z-index: 9999;
    position: absolute;
    right: 1.5em;
    bottom: -23px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.plusBtn:not(.cloned, .noHover):hover {
    -webkit-animation: spinAndScale .25s ease-in 1;
    -moz-animation: spinAndScale .25s ease-in 1;
    animation: spinAndScale .25s ease-in 1;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.plusBtn:not(.cloned):after {
    content: "\002B";
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 900;
    color: #FFF;
}
.plusBtn.red {
    background: #FF5252;
}
.plusBtn.bottomRight{
    top: auto;
    bottom: 3em;
    right: 3em;
}
.plusBtn.topRight{
    top: auto;
    bottom: auto;
  top: 1em;
    right: 3em;
}
/***************************************************/
/*  Material Design Card                           */
/***************************************************/

.container-mdCard {
    width: 100%;
    height: 100%;
}
.mdCard {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px #898989;
    background: #FFF;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.mdCard .title {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    bottom: 0;
    /* left: 1em; */
    
    color: #FFF;
    z-index: 9999;
    font-size: 1.5em;
    letter-spacing: .1em;
    width: 100%;
    text-indent: .5em;
    line-height: 1.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
}
.mdCard .container-menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    width: 34px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.mdCard .container-menu:hover {
    -webkit-animation: spin .25s ease-in 1;
    -moz-animation: spin .25s ease-in 1;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    animation: spin .25s ease-in 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.mdCard .container-menu .fa {
    display: block;
    font-size: .4em;
    margin-bottom: 3px;
    color: #FFF;
    text-shadow: 1px 1px #333;
}
.mdCard img {
    max-width: 100%;
    opacity: 1;
}
.mdCard .container-image img {
    min-width: 100%;
}
.mdCard .layer .content-layer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* stupid hack...overflow and radius not working on all containers...*/
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    white-space: nowrap;
}
.mdCard .layer {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    /* stupid hack...overflow and radius not working on all containers...*/
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.frmGroup-block label, .frmGroup-block input, .frmGroup-block select, .frmGroup-block textarea {
    display: block;
    text-align: left;
    width: 100%;
}
.frmGroup-block input, .frmGroup-block select, .frmGroup-block textarea {
    margin-bottom: 1em;
}
.frmGroup-block.tight input, .frmGroup-block.tight select, .frmGroup-block.tight textarea {
    margin-bottom: .25em;
}
a.button {
    z-index: 9999;
    position: absolute;
    right: 1.5em;
    bottom: -23px;
    text-decoration: none;
    color: #FFF;
    background: #FF5252;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    display: block;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-user-select: none;
    /* Chrome/Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+ */
    
    -o-user-select: none;
    user-select: none;
}
a.button:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
    
    float: left;
}
a.button.mini {
    width: 35px;
    height: 35px;
    line-height: 35px;
    bottom: -18px;
    font-size: .9em;
}
a.button i.fa {
    display: inline-block;
    vertical-align: middle;
    left: 1px;
}
a.button:hover i.fa {
    -webkit-animation: spinAndScale .25s ease-in 1;
    -moz-animation: spinAndScale .25s ease-in 1;
    animation: spinAndScale .25s ease-in 1;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.mdButton {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
    text-align: center;
    cursor: pointer;
    border: none;
}
.mdButton.link {
    background: none;
    width: auto;
    height: auto;
    line-height: normal;
}
.mdButton.orange {
    color: orange;
}
.mdButton.blue {
    background-color: #39a1f4;
    color: #FFF;
}
.mdButton.lightBlue {
    background-color: #8EAECA;
    color: #FFF;
}
.mdButton.lightGray {
    background-color: #666C73;
    color: #FFF;
}
a.mdButton {
    text-decoration: none;
}
.mdButton.autoWidth {
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.mdButton.small {
    font-size: .75em;
}
.mdButton.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.mdButton.raised:active, .mdButton.raised:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    opacity: .9;
    transition-delay: 0s;
}
.mdButton:not(.raised):hover {
    text-decoration: underline;
}
.mdCard .container-card-content {
    color: #333;
    text-align: center;
    font-size: 1.1em;
    padding: .75em;
    position: relative;
    background: inherit;
}
.mdCard .container-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background: #FFF;
}
.mdBadge {
    border-radius: 50%;
    text-align: center;
    width: 2em;
    line-height: 2em;
    padding-right: 5px;
}
/* Heights for content area...*/

.mdCard .height44 + .container-card-content {
    height: -webkit-calc(100% - 44px) !important;
    height: -moz-calc(100% - 44px) !important;
    height: calc(100% - 44px) !important;
}
.mdCard .height54 + .container-card-content {
    height: -webkit-calc(100% - 54px) !important;
    height: -moz-calc(100% - 54px) !important;
    height: calc(100% - 54px) !important;
}
.mdCard .height64 + .container-card-content {
    height: -webkit-calc(100% - 64px) !important;
    height: -moz-calc(100% - 64px) !important;
    height: calc(100% - 64px) !important;
}
.mdCard .height80 + .container-card-content {
    height: -webkit-calc(100% - 80px) !important;
    height: -moz-calc(100% - 80px) !important;
    height: calc(100% - 80px) !important;
}
.mdCard .height96 + .container-card-content {
    height: -webkit-calc(100% - 96px) !important;
    height: -moz-calc(100% - 96px) !important;
    height: calc(100% - 96px) !important;
}
.mdCard .height106 + .container-card-content {
    height: -webkit-calc(100% - 106px) !important;
    height: -moz-calc(100% - 106px) !important;
    height: calc(100% - 106px) !important;
}
.mdCard .height160 + .container-card-content {
    height: -webkit-calc(100% - 160px) !important;
    height: -moz-calc(100% - 160px) !important;
    height: calc(100% - 160px) !important;
}
.mdCard .height212 + .container-card-content {
    height: -webkit-calc(100% - 212px) !important;
    height: -moz-calc(100% - 212px) !important;
    height: calc(100% - 212px) !important;
}
.mdCard .height240 + .container-card-content {
    height: -webkit-calc(100% - 240px) !important;
    height: -moz-calc(100% - 240px) !important;
    height: calc(100% - 240px) !important;
}
.mdCard .height256 + .container-card-content {
    height: -webkit-calc(100% - 256px) !important;
    height: -moz-calc(100% - 256px) !important;
    height: calc(100% - 256px) !important;
}
.mdCard .height-full + .container-card-content {
    height: 0% !important;
}
/* FOOTER and container-card-content */
/* must deduct an additional 42px for the footer */

.mdCard .height44 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 86px) !important;
    height: -moz-calc(100% - 86px) !important;
    height: calc(100% - 86px) !important;
}
.mdCard .height54 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 96px) !important;
    height: -moz-calc(100% - 96px) !important;
    height: calc(100% - 96px) !important;
}
.mdCard .height64 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 106px) !important;
    height: -moz-calc(100% - 106px) !important;
    height: calc(100% - 106px) !important;
}
.mdCard .height80 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 122px) !important;
    height: -moz-calc(100% - 122px) !important;
    height: calc(100% - 122px) !important;
}
.mdCard .height96 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 138px) !important;
    height: -moz-calc(100% - 138px) !important;
    height: calc(100% - 138px) !important;
}
.mdCard .height106 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 148px) !important;
    height: -moz-calc(100% - 148px) !important;
    height: calc(100% - 148px) !important;
}
.mdCard .height160 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 202px) !important;
    height: -moz-calc(100% - 202px) !important;
    height: calc(100% - 202px) !important;
}
.mdCard .height212 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 254px) !important;
    height: -moz-calc(100% - 254px) !important;
    height: calc(100% - 254px) !important;
}
.mdCard .height240 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 282px) !important;
    height: -moz-calc(100% - 282px) !important;
    height: calc(100% - 282px) !important;
}
.mdCard .height256 + .container-footer + .container-card-content {
    height: -webkit-calc(100% - 298px) !important;
    height: -moz-calc(100% - 298px) !important;
    height: calc(100% - 298px) !important;
}
.mdCard .height-full + .container-card-content {
    height: 0% !important;
}
/* end heights */

.mdCard .container-card-content span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.container-bubble-menu {
    position: absolute;
    background: #FFF;
    border: 1px solid #999;
    box-shadow: 0 0 5px 3px #C3C3C3;
    border-radius: 4px;
    padding: 1em;
    z-index: 99999;
    width: auto;
}
.container-bubble-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}
.mdCard .layer.height1-3 .title {
    position: relative;
    bottom: auto;
    left: auto;
    text-align: center;
}
.mdCard .layer .title.header {
    width: 100%;
    height: 100%;
    text-align: left;
    /*text-indent: 1em;*/
    
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    background: none;
    padding: 0;
    font-size: 1em;
}
.mdCard .layer .title.header:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}
.mdCard .layer .title.header span {
    display: inline-block;
    vertical-align: middle;
}
.mdCard .layer .title.header.largeCenter {
    text-align: center;
}
.mdCard .layer .title.header.largeCenter span {
    font-size: 3em;
    margin-top: 14px;
}
.mdCard .layer .title.header.largeCenter em {
    display: block;
    font-size: 12px;
    margin-top: 1em;
}
.mdCard .container-card-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    /* width: 1000px; */
    
    text-align: center;
}
.mdCard .container-card-content .listItem {
    text-align: left;
    padding: .5em 0 0 0;
    overflow: hidden;
}
.mdCard .container-card-content .listItem:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
    
    float: left;
}
.mdCard .container-card-content .list.tight .listItem {
    padding: 0;
}
.mdCard .container-card-content .list a {
    text-decoration: none;
    color: #333;
    display: block;
    -webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    -ms-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.mdCard .container-card-content .list a:hover {
    background-color: #dedede;
}
.mdCard .container-card-content .listItem i.fa {
    width: 10%;
    text-align: left;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}
.mdCard .container-card-content .listItem i.fa + p {
    width: 85%;
}
.mdCard .container-card-content .listItem p {
    padding: 0;
    margin: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: .8em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.mdCard .container-card-content .listItem p span {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 1.1em;
}
.mdCard .container-card-content .listItem p em {
    font-size: .9em;
    position: relative;
    top: -4px;
    font-weight: normal;
}
@-moz-keyframes spinAndScale {
    100% {
        -moz-transform: rotate(360deg) scale(1.3);
    }
}
@-webkit-keyframes spinAndScale {
    100% {
        -webkit-transform: rotate(360deg) scale(1.3);
    }
}
@keyframes spinAndScale {
    100% {
        -webkit-transform: rotate(360deg) scale(1.3);
        transform: rotate(360deg) scale(1.3);
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/***************************************************/
/*  Modal Stuff                                    */
/***************************************************/

#content-modal {
    padding: 1em;
    max-height: 84vh;
    overflow-y: scroll;
    position: relative;
}
.container-page {
    background: #016699;
    min-height: 100%;
}
.header-top {
    background: #929497;
    /*
  background: #0287b9;
  */
    /*background: #4F6168;*/
    
    color: #FFF;
    padding: .25em 1em;
    text-align: right;
    font-size: .8em;
    display: none;
}
.header-content {
    background: #3795C5;
    /*padding: 0 1em;*/
    
    color: #FFF;
}
.header-content:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
    
    float: left;
}
.headerWidgets ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    position: relative;
}
.headerWidgets a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: .5em 1em;
}
.headerWidgets a:hover {
    background: #146D9A;
}
.headerWidgets li {
    padding-left: 0;
    padding-right: 0;
}
.headerWidgets ul ul {
    display: none;
    position: absolute;
    height: auto;
    right: 0;
    top: 3.22em;
    z-index: 99;
    background: #146D9A;
    width: 100%;
}
.headerWidgets li li {
    text-align: right;
    padding-right: 1em;
}
.headerWidgets ul li:hover ul {
    display: block;
}
.container-logo {
    margin-left: 2em;
}
.container-logo img {
    width: 8em;
}
.container-logo h3 {
    display: inline-block;
    margin-left: .5em;
    font-size: 1.5em;
}
.container-menu-content {
    position: absolute;
    width: 100%;
    /*top: 80px;*/
    
    left: 0;
    min-height: inherit;
    min-height: -webkit-calc(100% - 56px);
    min-height: -moz-calc(100% - 56px);
    min-height: calc(100% - 56px);
    /*
  height: -webkit-calc(100% - 80px);
  height: -moz-calc(100% - 80px);
  height: calc(100% - 80px);
*/
}
#container-tag-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}
#tag_mask {
    background: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999;
    opacity: .5;
}
#container-tag-modal-content {
    padding: 0em;
    position: absolute;
    background: #FFF;
    z-index: 99999999;
    margin: 1em;
    top: 2em;
    border: 5px solid #067BB6;
    border-radius: .5em;
    box-shadow: 0 0 10px 3px #369;
    overflow: hidden;
}
#container-tag-modal-content > h1 {
    margin: 0;
    font-size: 1.15em;
    background: #067BB6;
    color: #FFF;
    padding: .9em;
    font-weight: bold;
}
#container-tag-modal-content > h1 .glyphicon-remove:hover {
    cursor: pointer;
}
/***************************************************/
/*  main Menu (left)                               */
/***************************************************/
/* Main Menu */

#tag-main-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: #3795C5;
    /*
  background: #016699;
  */
    /*
  old width
  width: 225px;
  */
    
    width: 69px;
    /*height: 100%;*/
    
    height: 100%;
    box-shadow: 0px 5px 10px 3px #898989;
    -webkit-transition: width .5s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: width .5s;
    z-index: 99999;
}
#tag-main-menu.minimize {
    /*width: 69px;*/
}
#tag-main-menu.expand {
    width: 225px;
}
.containerForHamburger {
    width: 45px;
    float: left;
}
.navToggle {
    position: relative;
    width: 40px;
    height: 47px !important;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.navToggle:hover {
    cursor: pointer;
}
.navToggle .icon-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    top: 25px;
    width: 15px;
    background-color: #FFF;
}
.navToggle .icon-left:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #FFF;
    content: "";
    top: -10px;
}
.navToggle .icon-left:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #FFF;
    content: "";
    top: 10px;
}
.navToggle .icon-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    top: 25px;
    width: 15px;
    background-color: #FFF;
    left: 15px;
}
.navToggle .icon-right:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #FFF;
    content: "";
    top: -10px;
}
.navToggle .icon-right:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #FFF;
    content: "";
    top: 10px;
}
.navToggle.open .icon-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}
.navToggle.open .icon-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}
.navToggle.open .icon-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}
.navToggle.open .icon-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}
.navToggle.open .icon-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}
.navToggle.open .icon-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}
.toggleMenu {
    /*padding: .8em .8em 0 1.5em;*/
    
    display: none;
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.fa-bars {
    color: #FFF;
    font-size: 1.8em;
}
.tag-menu ul {
    padding-top: 1em;
}
.tag-menu ul a {
    color: #FFF;
    text-decoration: none;
    padding: 1em;
    display: block;
    position: relative;
}
.tag-menu ul a:hover {
    background: #0c80af;
}
.tag-menu li img {
    height: 2.6em;
    width: 2.6em;
}
.tag-menu .menuText {
    margin-left: 1em;
    opacity: 0;
    /* make things invisible upon start */
    
    display: none;
    /* we have to completely hide it so you can't trigger hover when invisible*/
    
    position: absolute;
    top: 23px;
    left: 51px;
}
#tag-main-menu.expand .menuText {
    display: block;
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
/***************************************************/
/* cards                                           */
/***************************************************/

[data-app] .card {
    border-radius: 5px;
    border: 1px solid #999;
    box-shadow: 0 0 10px .1em #888;
    overflow: hidden;
    position: relative;
    background: #006699;
    background: -webkit-linear-gradient(#eee, #cccccb);
    background: -moz-linear-gradient(#eee, #cccccb);
    background: -o-linear-gradient(#eee, #cccccb);
    background: linear-gradient(#eee, #cccccb);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#cccccb', GradientType=0);
    height: 100%;
    width: 100%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}
[data-app] .card .header {
    position: relative;
    color: #FFF;
    padding: .5em 1em;
    background: #006699;
    background: -webkit-linear-gradient(#0287b9, #006699);
    background: -moz-linear-gradient(#0287b9, #006699);
    background: -o-linear-gradient(#0287b9, #006699);
    background: linear-gradient(#0287b9, #006699);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0287b9', endColorstr='#006699', GradientType=0);
}
[data-app] .card .header h3 {
    float: left;
    font-size: 1.1em;
    margin: 0;
    font-weight: normal;
}
[data-app] .container-card {
    position: relative;
    height: 100%;
}
[data-app] .container-card .menu {
    position: absolute;
    right: 2em;
    top: 1.25em;
    width: 30px;
    height: 10px;
    color: #FFF;
    text-align: right;
    font-size: 0.5em;
}
[data-app] .card .menu .fa {
    font-size: 6px
}
[data-app] .card .card-content.padding {
    padding: 1em;
}
[data-app] .card-content .footerText {
    font-size: .8em;
    /* margin-top: .5em; */
    
    position: absolute;
    bottom: .5em;
    right: 0;
}
[data-app] .card.back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: perspective(800px) rotateY(180deg);
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
}
[data-app] .card.front {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: perspective(800px) rotateY(0deg);
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
}
.flip .card.back {
    -moz-transform: perspective(800px) rotateY(0);
    -webkit-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
}
.flip .card.front {
    -webkit-transform: perspective(800px) rotateY(-180deg);
    -moz-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg);
}
/* New Material Design Cards */

[data-app] .mdCard.back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: perspective(800px) rotateY(180deg);
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
}
[data-app] .mdCard.front {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: perspective(800px) rotateY(0deg);
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
}
.flip .mdCard.back {
    -moz-transform: perspective(800px) rotateY(0);
    -webkit-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
}
.flip .mdCard.front {
    -webkit-transform: perspective(800px) rotateY(-180deg);
    -moz-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg);
}
/* End Flipping of Material Design Cards */

.list-widget {
    padding-top: .75em;
}
.list-widget a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.list-widget a:hover {
    background: #ccc;
    text-decoration: underline;
}
/***************************************************/
/*  Gridster classes                               */
/***************************************************/

[data-app] .item {
    padding-top: 10px;
    padding-right: 10px;
}
.gridster ul, .gridster li {
    list-style-type: none;
    margin: 0;
}
/***************************************************/
/*  Generic View Stuff                             */
/***************************************************/

.generic-list {
    padding: 1em;
    margin: 0;
    list-style-type: none;
}
.generic-list-item {}
/***************************************************/
/*  tag tabs                                       */
/***************************************************/

.tag-tabs:after {
    content: "";
    display: table;
    clear: both;
}
.tag-tabs {
    border-bottom: 0px !important;
    box-shadow: 0px -8px 14px -8px rgba(0, 0, 0, 0.4) inset;
    padding-top: .5em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
}
.tag-tabs a {
    float: none;
    display: inline-block;
    padding: .5em 1em;
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: 0px 6px 18px 4px #999; */
    /*box-shadow: 0px 19px 30px 10px rgba(0, 0, 0, 0.4);*/
    
    border-radius: 0;
    position: relative;
    z-index: 2;
    margin-top: .5em;
    margin-right: .25em;
    text-decoration: none;
    color: inherit;
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
}
.tag-tabs a:not(.disabled):hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #FFF;
}
.tag-tabs a.active {
    background-color: #E9E9E9;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 -2px 0 #F0B085;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid #CCC;
}
.tag-tabs a:not(.active).disabled {
    opacity: .3;
    cursor: default;
}
.tag-tabs {
    padding: 0;
    margin: 0;
    text-align: left !important;
}
.tag-tabs li {
    list-style-type: none;
}
.container-tag-panels {
    background-color: #FFF;
    padding: 1em;
}
.container-tag-panels [data-panel] {
    display: none;
    overflow-x: auto;
}
.container-tag-panels [data-panel].active {
    display: block;
}
/***************************************************/
/*  Widget Mask classes                            */
/***************************************************/

.widgetMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #999;
    border-radius: 5px;
    opacity: .5;
}
.maskIcon {
    font-size: 4em;
    /* left: -webkit-calc(100% - 3.6em); */
    /* top: 55%; */
    
    color: #5CB85C;
    border: 7px solid #5CB85C;
    border-radius: 50%;
    padding: .25em;
    margin-top: 2em;
    background: #9F9;
    position: relative;
    display: inline-block;
    margin-left: -webkit-calc(100% - 3.65em);
    margin-left: calc(100% - 3.65em);
    box-shadow: 0 0 10px 3px #666;
}
.widgetResponseContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.widgetResponseContainer button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 3em;
    width: 50%;
    box-shadow: 0 0 10px 3px #666;
    border: 1px solid #5CB85C;
    background-color: #9F9;
    color: #666;
    /* border-radius: 0; */
    
    font-weight: bold;
}
/***************************************************/
/*  Responsive Table Classes                       */
/***************************************************/

.rwd-table {
    /*margin: 1em 0;*/
    
    width: 100%;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 10px solid #ddd;
    padding-bottom: 1em;
}
.rwd-table th {
    display: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: .5em;
}
.rwd-table td:last-child {
    padding-bottom: .5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
.rwd-table .btn.tag.halfWidth {
    float: right;
    width: -webkit-calc(50% - 4.5em);
    width: calc(50% - 4.5em);
}
.rwd-table {
    overflow: hidden;
    clear: both;
}
/* Filter for responsive table */

.container-filter input {
    /* vertical-align: text-bottom; */
    
    display: table-cell;
    height: 28px;
    display: none;
}
.container-filter .fa-filter {
    color: blue;
    position: relative;
    z-index: 999999;
}
.container-filter {
    /* border: 1px solid #333; */
    
    padding: 5px;
    float: left;
    /* background: #ccc; */
    
    cursor: pointer;
}
/***************************************************/
/*  Helper Classes                                 */
/***************************************************/

.muted {
    font-weight: normal;
}
.px10 {
    font-size: 10px !important;
}
.height44 {
    height: 44px !important;
    /*44px*/
}
.height54 {
    height: 54px !important;
    /*54px*/
}
.height64 {
    height: 64px !important;
    /*64px*/
}
.height80 {
    height: 80px !important;
    /*80px*/
}
.height96 {
    height: 96px !important;
}
.height106 {
    height: 106px !important;
    /*106px*/
}
.height160 {
    height: 160px !important;
    /*160px*/
}
.height212 {
    height: 212px !important;
    /*212px*/
}
.height240 {
    height: 240px !important;
    /*240px*/
}
.height256 {
    height: 256px !important;
    /*256px*/
}
.height-full {
    height: 100% !important;
}
.verticallyCenteredParent:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}
.verticallyCentered {
    display: inline-block;
    vertical-align: middle;
}
.showInline {
    display: inline-block !important;
}
.tableAlert {
    position: absolute;
    padding: .25em 1em;
    top: 4px;
    z-index: 999;
}
.text-centered {
    text-align: center;
}
.fa {
    position: relative;
    top: -1px;
    min-width: 8px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    animation-duration: .75s;
}
.no-padding {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
}
.no-padding-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-bullet {
    list-style-type: none;
}
/***************************************************/
/*  container (lack of category?)                  */
/***************************************************/

#tag-container-app, .container-view {
    background: #DEDFE0;
    position: absolute;
    top: 0%;
    height: 100%;
    z-index: 9;
    overflow-y: hidden;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    /*
    -webkit-animation: move 1s ease 1;
    -moz-animation: move 1s ease 1;
    -ms-animation: move 1s ease 1;
    animation: move 1s ease 1;
    -webkit-animation-fill-mode: forwards;*/
    /*Chrome 16+, Safari 4+*/
    /*-moz-animation-fill-mode: forwards;*/
    /*FF 5+*/
    /*-o-animation-fill-mode: forwards;*/
    /*Not implemented yet*/
    /*-ms-animation-fill-mode: forwards;*/
    /*IE 10+*/
    /*animation-fill-mode: forwards;*/
    /*when the spec is finished*/
    /*
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);*/
}
/*@-webkit-keyframes move {
    100% {
        top: 0;
    }
}
@-moz-keyframes move {
    100% {
        top: 0;
    }
}
@-ms-keyframes move {
    100% {
        top: 0;
    }
}
@keyframes move {
    100% {
        top: 0;
    }
}*/

#tag-main-menu ~ .container-view {
    width: -webkit-calc(100% - 69px);
    width: calc(100% - 69px);
    left: 69px;
}
.container-view[data-old] {
    z-index: 1 !important;
}
/***************************************************/
/*  data-app styles                                */
/***************************************************/

[data-app] {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
[data-app] .header {
    background: #cccccb;
    padding: 0 1em;
}
[data-app] .header .container-fluid {
    padding: 0;
    margin: 0;
}
[data-app] .header .navbar {
    border-radius: 0;
    min-height: 0;
    margin: 0;
    border: none;
}
[data-app] .header .navbar-collapse {
    padding: 0;
}
[data-app] .header .navbar-toggle {
    border-color: #DDD;
    background: #DDD;
}
[data-app] .header .navbar-toggle .icon-bar {
    background-color: #888;
}
[data-app] .header a {
    display: inline-block;
    padding: .5em .8em;
    text-decoration: none;
    color: #333;
}
[data-app] .header a:hover, [data-app] .header a.active {
    background: #B9B4B4;
}
[data-app] .container-content {
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 0 1em;
    padding-bottom: 3em;
    padding-top: 1em;
    position: relative;
    /* margin-top: 1em; */
}
/***************************************************/
/*  HTML5 Validation Polyfill CSS                  */
/***************************************************/

.invalid input:required:invalid, .invalid select:required:invalid, .invalid textarea:required:invalid {
    background: #BE4C54;
}
/* Mark valid inputs during .invalid state */

.invalid input:required:valid .invalid select:required:valid, .invalid textarea:required:valid {
    background: #17D654;
}
/***************************************************/
/*  loader stuff                                   */
/***************************************************/

.loader {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.loader:after {
    content: "";
    top: -webkit-calc(50% - 8px);
    left: -webkit-calc(50% - 8px);
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    position: absolute;
    width: 8px;
    height: 8px;
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: 0 -14px 0 rgba(111, 111, 111, 0.8), 10px -10px 0 rgba(111, 111, 111, 0.7), 14px 0px 1px rgba(111, 111, 111, 0.6), 10px 10px 1px rgba(111, 111, 111, 0.5), 0px 14px 2px rgba(111, 111, 111, 0.4), -10px 10px 2px rgba(111, 111, 111, 0.3), -14px 0px 3px rgba(111, 111, 111, 0.2), -10px -10px 3px rgba(111, 111, 111, 0.1);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: load 0.5s steps(8, end) infinite;
    animation: load 0.5s steps(8, end) infinite;
}
.container-right-header {
    position: relative;
    float: right;
    /*width: 50%;
     background: #333; */
    
    height: 60px;
}
.headerWidgets {
    /* background: #333; */
    
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: 8px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-notification {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    /* width: 100px; */
    
    width: 45px;
    height: 100%;
    text-align: center;
    /* margin-right: 2em; */
    /*top: 50%;*/
    
    right: 16em;
    /*transform: translateY(-50%);*/
}
.header-notification i {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container-header-menu {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 1em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFF;
    width: 175px;
}
.container-header-menu a {
    text-decoration: none;
    color: #FFF;
    display: block;
}
.container-header-menu li {
    padding: .5em;
}
.container-header-menu li ul {
    position: absolute;
    display: none;
    margin-left: -.5em !important;
    width: 100%;
    top: 34px;
}
.container-header-menu li:hover {
    background: #333;
}
.container-header-menu li:hover ul {
    display: block;
    background: #333;
}
.container-header-menu li li:hover {
    background: #666;
}
.headerBadge {
    border-radius: 50%;
    line-height: 2em;
    display: inline-block;
    width: 2em;
    text-align: center;
    font-size: .8em;
    position: absolute;
    top: 7px;
    left: 1.8em;
}
.headerBadge.red {
    background: #D71F1F;
}
/************* TAKEN FROM To-Do List ***********************/

h3.subBar {
    background: #8EAECA;
    color: #FFF;
    text-align: left;
    padding: .5em 1em;
    margin: 0;
    font-size: .9em;
    font-weight: normal;
    cursor: pointer;
}
h3.subBar span {
    margin-right: .5em;
}
h3.subBar .fa {
    font-size: .9em;
}
.page .fa {
    cursor: pointer;
}
.page .fa-search {
    color: #777;
}
.hide {
    display: none;
}
.page [type="checkbox"]:checked + p, .page [type="checkbox"]:checked + p span, .page [type="checkbox"]:checked + p em {
    text-decoration: line-through !important;
}
.list.three-column div {
    float: left;
}
.list.three-column div:first-of-type {
    width: 10%;
}
.list.three-column div:nth-of-type(2) {
    width: 75%;
    overflow: hidden;
}
.list.three-column div:last-of-type {
    width: 10%;
    float: right;
}
.list.three-column.col3-22 div:nth-of-type(2) {
    width: 62%;
}
.list.three-column.col3-22 div:last-of-type {
    width: 22%;
}
/***************************************************/
/*  Media Queries                                  */
/***************************************************/

@media(max-width: 440px) {
    .gridster ul.gridsterUL, .gridster li.gs-w {
        width: 100% !important;
    }
    #container-tag-modal-content {
        top: 0em;
    }
    .tag-header .container-logo {
        display: none;
    }
}
/* end (max-width: 440px */

@media (max-width: 1000px) {
    body {
        overflow-y: visible;
    }
    [data-app] {
        overflow-y: visible;
    }
    #tag-container-app, .container-view {
        position: static;
        overflow-y: visible;
    }
    #tag-main-menu {
        width: 44px;
        left: -100%;
    }
    #tag-main-menu.expand {
        left: 0;
    }
    .tag-menu li img {
        height: 30px;
        width: 30px;
    }
    .tag-menu ul a {
        padding: 1em 6px;
    }
    .headerWidgets ul ul {
        top: 2.3em;
    }
    .headerWidgets li li {
        padding: 1em;
    }
    .toggleMenu {
        margin-top: -.5em;
    }
    .container-logo {
        /*margin-left: 4em;*/
    }
    .container-logo img {
        /*display: none;*/
    }
    .header-content > div {
        height: inherit;
    }
    .container-logo h3 {
        font-size: 1.2em;
        margin-top: .5em;
    }
    .header-notification {
        right: 15em;
    }
    .header-content {
        /*background: #106490;*/
        
        height: 44px;
        font-size: .8em;
    }
    .container-header-menu {
        right: 0;
        width: 140px;
    }
    .container-header-menu li ul {
        top: 26px;
    }
    .container-header-menu li li {
        height: 35px;
        line-height: 35px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .container-menu-content {
        min-height: -webkit-calc(100% - 44px);
        min-height: -moz-calc(100% - 44px);
        min-height: calc(100% - 44px);
    }
    .container-view {
        border-radius: 0;
    }
    #tag-main-menu ~ .container-view {
        /*   
    width: -webkit-calc(100% - 44px);
    width: calc(100% - 44px);
    left: 44px;
    */
        
        width: 100%;
        left: 0;
    }
    #container-tag-modal-content {
        top: 0em;
    }
    .headerBadge {
        font-size: .7em;
        top: 7px;
        left: 20px;
    }
}
/* end max-width: 600px */
/*
@media (max-width: 768px) {
    
    .toggleMenu {
        display: block;
    }
    .container-view {
        width: -webkit-calc(100% - 69px);
        width: calc(100% - 69px);
        left: 69px;
    }
    [data-app] .container-content {
        max-height: -webkit-calc(100% - 50px);
        max-height: calc(100% - 50px);
    }
}
*/
/* end max-width: 768px*/

@media (min-width: 1000px) {
    .rwd-table .btn.tag.halfWidth {
        float: left;
        width: -webkit-calc(50% - .5em);
        width: calc(50% - .5em);
    }
    .rwd-table .btn.tag {
        padding: .5em;
        min-width: 80px;
    }
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th, .rwd-table td {
        display: table-cell;
    }
    .rwd-table tr {
        border-bottom: 1px solid #ddd;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
/* End min-width: 800px */
/***************************************************/
/*  Keyframe stuff                                */
/***************************************************/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*********************************************************/
/* Weather Widget    */
/*********************************************************/
/*
.temperature-list{
 font-size:10px;
}

.weather-image{
font-size: 48px;
position: absolute;
left: 10px;
top: 16px;
}
.current-weather-position{
  display: block;
  margin-top: 7px;
  font-size:xx-large;
}
.switch-weather{
  position:absolute;
  top:120px;
  line-height:1.5;
  left:38px;
  cursor:pointer;
  background-color:#0177AA;
}
.sunny{
  color: orange;
  text-shadow: 3px 3px 3px #999;

}
*/
/*********************************************************/
/* Announcement Widget   */
/*********************************************************/

.viewButton {
    cursor: pointer;
    background-color: #0177AA;
    display: inline-block;
    width: 6em;
    height: 1.5em;
}
.date {
    font-family: monospace;
    font-size: 0.8em;
}
/*********************************************************/
/* Notifications  */
/*********************************************************/

#notification_li {
    position: relative
}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -180px;
    width: 400px;
    height: 347px;
    z-index: 1000;
}
/*// Popup Arrow*/

#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}
#notificationTitle {
    font-weight: bold;
    padding: 8px;
    color: rgb(107, 99, 99);
    font-size: 13px;
    /* background-color: #F24C4C; */
    
    position: fixed;
    z-index: 1000;
    width: 400px;
    height: 30px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    padding: 33px 0px 0px 0px !important;
    min-height: 300px;
    width: 400px;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
    color: black;
    width: 398px;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 0px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: -5px;
    font-size: 11px;
}
.innerContainer {
    padding: 0.5em;
    border-bottom: 1px solid rgb(217, 217, 216);
    width: 99%;
}
.profileImage {
    border: 1px solid transparent;
    width: 38%;
    height: 90px;
    float: left;
}
.profilePlaceHolder {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.message {
    border: 1px solid transparent;
    width: 60%;
    height: 90px;
    float: right;
    position: relative;
}
* {
    box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.container-date {
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-message {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
