/* FOR TESTING OF DYNAMICALLY LOADED CSS */
.dynamicCSS-test-element{
  position: absolute;
  visibility: hidden;
  width: 1px;
}
/* -------------------------------------*/

.container-pages *, .container-pages *:before, .container-pages *:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-pages{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
}

.page{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  background: inherit;
}

.page.animate{
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.slide-left .page{
  left: 100%;
}
.slide-left .page[data-slidestate="oldNews"]{
  left: -100% !important;
}
.slide-left .page[data-slidestate="onDeck"]{
  left: 100% !important;
}
.slide-left .page[data-slidestate="active"]{
  top: 0;
  left: 0;
}

.fade-up .page{
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.fade-up .page[data-slidestate="oldNews"]{
  top: 0 !important;
  z-index: 1;
  opacity: 1;
}
.fade-up .page[data-slidestate="onDeck"]{
  top: 100% !important;
}

.fade-up .page[data-slidestate="active"]{
  top: 0;
  opacity: 1;
  left: 0;
  z-index: 5;
}

.container-paging-legend{
  position: absolute;
  z-index: 99;
  background: inherit;
}
.container-paging-legend ul{
  list-style-type: none;
  display: inline-block !important;
}
.container-paging-legend li{
  float: left;
  float: left;
padding: 0 .7em;
line-height: 2em;
border: 1px solid #AEABAB;
  border-right: none;
  cursor: pointer;
}
.container-paging-legend li.active{
  background: #3795C5;
  color: #FFF;
}
.container-paging-legend li:first-of-type{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.container-paging-legend li:last-of-type{
  border-right: 1px solid #AEABAB;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


.container-paging-legend.bottom{
  bottom: 0;
}
.container-paging-legend.center{
  width: 100%;
  text-align: center;
}



.clearfix:after{
  content: "";
  display: table;
  clear: both;
}