<div class="content-wrap">
    <div class="row">
        <div class="col-lg-3">
            <div class="profit" id="profitClose">
                <div class="headline ">
                    <h3>
                                    <span>树苗信息</span>
                                </h3>
                    <div class="titleClose">
                        <a href="#profitClose" class="gone">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                </div>
                <div class="value">
                    <span><i class="fa fa-tree"></i>
                                </span>
                    <span><%=data.seedling%></span>
                </div>
                <div class="progress-tinny">
                    <div style="width: 50%" class="bar"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="revenue" id="revenueClose">
                <div class="headline ">
                    <h3>
                                    <span>园艺资材</span>
                                </h3>
                    <div class="titleClose">
                        <a href="#revenueClose" class="gone">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                </div>
                <div class="value">
                    <span><i class="fa fa-gear"></i>
                                </span>
                    <span><%=data.garden%></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="order" id="orderClose">
                <div class="headline ">
                    <h3>
                                    <span>
                                        <i class="maki-airport"></i>用户</span>
                                </h3>
                    <div class="titleClose">
                        <a href="#orderClose" class="gone">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                </div>
                <div class="value">
                    <span><i class="fa fa-user"></i>
                                </span>
                    <span><%=data.users%></span>
                </div>
                <div class="progress-tinny">
                    <div style="width: 10%" class="bar"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class=" member" id="memberClose">
                <div class="headline ">
                    <h3>
                                    <span>
                                        <i class="fa fa-truck"></i>
                                        文章
                                    </span>
                                </h3>
                    <div class="titleClose">
                        <a href="#memberClose" class="gone">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                </div>
                <div class="value">
                    <span><i class="fa fa-file-text"></i>
                                </span>
                    <span><%=data.articles%></span>
                </div>
                <div class="progress-tinny">
                    <div style="width: 50%" class="bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>