<script>
<link rel="stylesheet" href="MnApp/css/views/login.css">
<div id="loginContainer" >
<div id="loginView">
	<form action="" id="loginForm">
		<div class="form-group">
			<label for="userName" >用户名</label>

			<div>
				<input type="text" class="form-control" id="unserName" name="UserName">
			</div>
			
		</div>
		<div class="form-group">
			<label for="passWord" >密码</label>

			<div >
				<input type="password" class="form-control" id="passWord" name="PassWord">
			</div>

		</div>
		<button type="submit" class="btn btn-primary" id="login">登陆</button>
	</form>
</div>
</div>
</script>
