
    <div id="skin-select">
        <div id="logo">
         <h4>苗苗网后台管理系统</h4>
        </div>

 <!--        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
            </form>
        </div>

        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div>


        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div> -->




        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a class="tooltip-tip ajax-load" herf="#dashboard" data-des="dashboard">
                                <span>控制面板</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 树苗交易 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="widget-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#seedling/selling" data-des="seedling" data-filter="selling" >
                                <i class="icon-document-edit"></i>
                                <span>苗木供应</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#seedling/buying" data-des = "seedling" data-filter="buying">
                                <i class="icon-feed"></i>
                                <span>苗木求购</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#seedling/quoting" data-des = "seedling" data-filter="quoting">
                                <i class="icon-camera"></i>
                                <span>苗木报价</span>

                            </a>
                        </li>
                    </ul>
                    <!-- 园艺资材 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="garden-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#garden/selling" data-des="garden" data-filter="selling" >
                                <i class="icon-document-edit"></i>
                                <span>资材供应</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#garden/buying" data-des = "garden" data-filter="buying">
                                <i class="icon-feed"></i>
                                <span>资材求购</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#garden/quoting" data-des = "garden" data-filter="quoting">
                                <i class="icon-camera"></i>
                                <span>资材报价</span>

                            </a>
                        </li>
                    </ul>
                    <!-- 用户管理 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="design-kit"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#user" data-des="userInfo">
                                <i class="icon-window"></i>
                                <span>用户信息</span>

                            </a>
                        </li>

<!--                         <li>
                            <a class="tooltip-tip" href="#" title="Extra Pages">
                                <i class="icon-document-new"></i>
                                <span>Extra Page</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="blank_page.html" title="Blank Page"><i class="icon-media-record"></i><span>Blank Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="profile.html" title="Profile Page"><i class="icon-user"></i><span>Profile Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="invoice.html" title="Invoice"><i class="entypo-newspaper"></i><span>Invoice</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="pricing_table.html" title="Pricing Table"><i class="fontawesome-money"></i><span>Pricing Table</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="time-line.html" title="Time Line"><i class="entypo-clock"></i><span>Time Line</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2" href="404.html" title="404 Error Page"><i class="icon-thumbs-down"></i><span>404 Error Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2" href="500.html" title="500 Error Page"><i class="icon-thumbs-down"></i><span>500 Error Page</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2" href="lock-screen.html" title="Lock Screen"><i class="icon-lock"></i><span>Lock Screen</span></a>
                                </li>
                            </ul>
                        </li> -->

                    </ul>
                    <!-- 平台设置 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="component"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip" href="#membership" data-des="membership">
                                <i class="icon-document"></i>
                                <span>会员制度</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 内容管理 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="content"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="map.html">
                                <i class="icon-location"></i>
                                <span>微信推送</span>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="map.html">
                                <i class="icon-location"></i>
                                <span>帮助文档</span>

                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
 