
    <div id="skin-select">
        <div id="logo">
         <h4>苗苗网后台管理系统</h4>
        </div>
        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a class="tooltip-tip ajax-load" herf="#dashboard" data-des="dashboard">
                                <span>控制面板</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 树苗交易 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="widget-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#seedling/selling" data-des="seedling" data-filter="selling" >
                                <i class="icon-document-edit"></i>
                                <span>苗木供应</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#seedling/buying" data-des = "seedling" data-filter="buying">
                                <i class="icon-feed"></i>
                                <span>苗木求购</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#seedling/quoting" data-des = "seedling" data-filter="quoting">
                                <i class="icon-camera"></i>
                                <span>苗木报价</span>

                            </a>
                        </li>
                    </ul>
                    <!-- 园艺资材 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="garden-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#garden/selling" data-des="garden" data-filter="selling" >
                                <i class="icon-document-edit"></i>
                                <span>资材供应</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#garden/buying" data-des = "garden" data-filter="buying">
                                <i class="icon-feed"></i>
                                <span>资材求购</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#garden/quoting" data-des = "garden" data-filter="quoting">
                                <i class="icon-camera"></i>
                                <span>资材报价</span>

                            </a>
                        </li>
                    </ul>
                    <!-- 用户管理 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="design-kit"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#user" data-des="userInfo">
                                <i class="icon-window"></i>
                                <span>用户信息</span>

                            </a>
                        </li>

                    </ul>
                    <!-- 平台设置 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="component"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip" href="#membership" data-des="membership">
                                <i class="icon-document"></i>
                                <span>会员制度</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 内容管理 -->
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="content"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#" data-des="article">
                                <i class="icon-location"></i>
                                <span>微信推送</span>

                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
 