<li class="clearfix animated flipInX" file-uid="<%=file.uid%>">
    <div class="container-file-upload clearfix">
        <div class="container-file-info">
            <p class="fileName clearfix">
                <%=file.fileName%>
            </p>

            <div class="container-progress-info">
                <div class="container-progress-bar">
                    <div class="progress-bar" style="width: 0%;"></div>
                    <div class="progress-full-bar"></div>
                </div>

                <div class="progress-percentage">
                    0%
                </div>
            </div>
            <!-- end progress info -->
        </div>
        <!-- end container-file-info -->

        <div class="container-cancel-remove">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
</li>
