<style>
.container-drawer {
    position: absolute;
    top: 0;
    right: -100%;
    width: 33%;
    height: 100%;
    /*background: linear-gradient(45deg, #444 25%, #424242 25%, #424242 50%, #444 50%, #444 75%, #424242 75%, #424242);
background-size:10px 10px;*/
    
    background: #FFF;
    box-shadow: -3px 0 10px 1px #898989;
    color: #333;
    z-index: 9;
}
.drawer-content {
    overflow-x: hidden;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.drawer-header {
    padding: 1em;
    height: 45px;
    position: relative;
}
.drawer-header * {
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
}
.drawer-header h3 {
    padding: 0;
    margin: 0;
    float: left;
}
.drawer-header .backArrow {
    float: right;
    font-size: 1.7em;
    color: #666;
    position: absolute;
    right: 1em;
    top: 29%;
    cursor: pointer;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes openDrawer {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}
/* Standard syntax */

@keyframes openDrawer {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}
/* Chrome, Safari, Opera */

@-webkit-keyframes closeDrawer {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}
/* Standard syntax */

@keyframes closeDrawer {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}
@media screen and (max-width: 630px) {
    .container-drawer {
        width: 100%;
    }
}
</style>

<div class="container-drawer">

    <div class="drawer-header clearfix">
        <h3></h3>
        <span class="backArrow"><i class="fa fa-arrow-right"></i></span>
    </div>
    <!--
    <div class="drawer-footer">
        <span>FOOTER HERE</span>
    </div>
-->
    <div class="drawer-content">
        <!-- View to be dropped in here...-->
    </div>

</div>
