.container-tagSnack {
    display: none;
    position: absolute;
    bottom: 1em;
    left: 1em;
    min-width: 175px;
    max-width: 400px;
    background: #616060;
    z-index: 9999999999;
    border-radius: 5px;
}
.tagSnack-action {
    position: absolute;
    right: 1em;
    top: 50%;
    width: 20%;
    text-align: right;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tagSnack-content {
    position: relative;
    padding-left: 1em;
    width: 100%;
    padding: 1em;
}
.tagSnack-action + .tagSnack-content {
    width: 75%;
}
.tagSnack-content ul {
    color: #FFF;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tagSnack-content li {
    border-bottom: 1px solid #514D4D;
    padding: .5em 0;
}
.tagSnack-content li:last-of-type {
    border-bottom: none;
}
.snack-css-loaded {
    width: 1px;
}
