<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="FilteringClose">
<!--                 <div class="title-alt">
                    <h6>标题</h6>
                    <div class="titleClose">
                        <a class="gone" href="#FilteringClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Filtering">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div> -->
                <div class="body-nest" id="Filtering">
                    <div class="pull-right" style="margin-bottom:20px">
                        <button id="newArticle" class="btn btn-success">添加新文章</button>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-12">
                            <input class="form-control" id="searchBox" placeholder="输入查询条目相关信息" type="text">
                        </div>
                    </div>
                    <table id="articleTable" class="table-striped table footable metro-blue" data-filter="#filter" data-filter-text-only="true">
                        <thead>
                            <tr>
                                <th data-toggle="true">
                                    作者
                                </th>
                                <th>
                                    标题
                                </th>
                                <th>
                                    标签
                                </th>
                                <th>
                                    创建日期
                                </th>
                            </tr>
                        </thead>
                        <tbody id="articleBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>