<form action="" class="container-fluid" id="itemForm">
    <div class="row">
        <div class="from-group col-md-12 col-sm-12">
            <label for="">标题</label>
            <input name="Title" class="form-control" type="text" value="<%=model.get('Title')%>">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">标签</label>
            <input name="Slug" class="form-control" type="text" value="<%=model.get('Slug')%>">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">内容</label>
            <textarea name="Content" id="" rows="3" style="width:100%;border-radius:4px;border:1px solid"><%=model.get("Content")%></textarea>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">
        <button type="submit" id="change" class="btn btn-primary col-md-12 col-sm-12">保存修改</button>
    </div>
    <div class="row">
        <button id="delete" class="btn btn-danger col-md-12 col-sm-12">删除记录</button>
    </div>
</form>