
				<div class="navbar-brand">
					<!-- COMPANY LOGO -->

					<!-- /COMPANY LOGO -->
					<!-- TEAM STATUS FOR MOBILE -->
					<div class="visible-xs">
						<a href="#" class="team-status-toggle switcher btn dropdown-toggle" style="left:auto;right:auto">
							<i class="fa fa-chevron-left"></i>
						</a>
					</div>
					<!-- /TEAM STATUS FOR MOBILE -->
					<div class="position">
						<p><%=pos%></p>
					</div>
					<!-- SIDEBAR COLLAPSE -->
					<div id="sidebar-collapse" class="sidebar-collapse btn">
						<i class="fa fa-bars" 
							data-icon1="fa fa-bars" 
							data-icon2="fa fa-bars" ></i>
					</div>
					<!-- /SIDEBAR COLLAPSE -->
				</div>
				<!-- BEGIN TOP NAVIGATION MENU -->					

				<!-- END TOP NAVIGATION MENU -->