
						<div class="divide-20"></div>
						
						<!-- SIDEBAR QUICK-LAUNCH -->
						<!-- <div id="quicklaunch">
						<!-- /SIDEBAR QUICK-LAUNCH -->
						
						<!-- SIDEBAR MENU -->
						<ul>
							<li class="active">
								<a data-des="dashboard" class="des">
								<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">首页</span>
								<span class="selected"></span>
								</a>					
							</li>
							<li class="has-sub">
								<a>
								<i class="fa fa-tree fa-fw"></i> <span class="menu-text">苗木交易</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li ><a data-des="seedling" data-filter="selling"><span class="sub-menu-text">我要买苗</span></a></li>
									<li><a data-des="seedling" data-filter="buying"><span class="sub-menu-text">我要卖苗</span></a></li>
								</ul>
							</li>
							<li class="has-sub">
								<a>
								<i class="fa fa-cog fa-fw"></i> <span class="menu-text">资材交易</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a  data-des="garden" data-filter="selling"><span class="sub-menu-text">买资材</span></a></li>
									<li><a  data-des="garden" data-filter = "buying"><span class="sub-menu-text">卖资材</span></a></li>
								</ul>
							</li>
							<li><a class="" data-des="news"><i class="fa fa-info fa-fw"></i> <span class="menu-text">行业关注</span></a></li>
							<li><a data-des="aboutUs" class=""><i class="fa fa-th-large fa-fw"></i> <span class="menu-text">关于我们</span></a></li>
							<li class="has-sub">
								<a>
								<i class="fa fa-user fa-fw"></i> <span class="menu-text">个人中心<span class="badge pull-right">9</span></span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a data-des="userCenter" data-filter="selling"><span class="sub-menu-text">我的出售</span></a></li>
									<li><a data-des="userCenter" data-filter="buying"><span class="sub-menu-text">我的求购</span></a></li>
									<li><a data-des="userInfo"><span class="sub-menu-text">个人信息</span></a></li>									
								</ul>
							</li>
						</ul>
						<!-- /SIDEBAR MENU -->