<style>
    .mainContainer{
        margin-left:0px;
        margin-right:0px;
        padding:15px;
    }
    #create{
        width:100%;
    }
</style>
<div class="row mainContainer">
    <div class="panel">
        <div class="panel-body">
            <form action="" class="container-fluid" id="newInfoForm">
    <div class="row">
        <div class="from-group col-md-6 col-sm-6">
            <label for="">品名</label>
            <input name="Name" class="form-control" type="text">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="">数量</label>
            <input name="Quant" class="form-control" type="number">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-6">
            <label for="">单位</label>
            <input name="Unit" class="form-control" type="text">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="">价格</label>
            <div class="input-group">
                <input name="Price" class="form-control" type="number">
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-6">
            <label for="">产品类型</label>
            <select name="ProductType" class="form-control">
                <option value="seedling">苗木</option>
                <option value="garden">园艺资材</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="">信息类型</label>
            <select name="Type" id="" class="form-control">
                <option value="selling">出售信息</option>
                <option value="buying">求购信息</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">地点</label>
            <input name="Location" class="form-control" type="text">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">上传图片</label>
            <input type="file" class="form-control" Name="File" id="uploadImg" multiple>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">详情描述</label>
            <textarea name="Description" id="" rows="3" style="width:100%;border-radius:4px;border:1px solid"></textarea>
        </div>
    </div>

</form>
        </div>
    </div>    

        <button id="create" class="btn btn-success">发布信息</button>


</div>
