<style>
    .mainContainer{
        margin-left:0px;
        margin-right:0px;
        padding:15px;
    }
    #editProduct .btn{
        width:100%;
        margin-bottom:15px;
    }
</style>
<div class="row mainContainer" id="editProduct">
    <div class="panel">
    <div class="panel-body">
    <form action="" class="container-fluid" id="itemForm">
    <div class="row">
        <div class="from-group col-md-6 col-sm-6">
            <label for="">品名</label>
            <input name="Name" class="form-control" type="text" value="<%=model.get("Name")%>">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="">数量</label>
            <input name="Quant" class="form-control" type="number" value="<%=model.get("Quant")%>">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-6">
            <label for="">单位</label>
            <input name="Unit" class="form-control" type="text" value="<%=model.get("Unit")%>">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="">价格</label>
            <div class="input-group">
                <input name="Price" class="form-control" type="number" value="<%=model.get("Price")%>">
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-6">
            <label for="">产品类型</label>
            <select name="ProductType" class="form-control">
                <option value="seedling" <%=(model.get("ProductType")=="seedling")? "selected": ""%> >苗木</option>
                <option value="garden" <%=(model.get("ProductType")=="garden")? "selected": ""%> >园艺资材</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="">信息类型</label>
            <select name="Type" id="" class="form-control">
                <option value="selling" <%=(model.get("Type")=="selling")? "selected": ""%>>出售信息</option>
                <option value="buying" <%=(model.get("Type")=="buying")? "selected": ""%>>求购信息</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">地点</label>
            <input name="Location" class="form-control" type="text" value="<%=model.get("Location")%>">
        </div>
    </div>
<!--     <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">上传图片</label>
            <input type="file" class="form-control" Name="File" id="uploadImg" multiple>
        </div>
    </div> -->
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label for="">详情描述</label>
            <textarea name="Description" id="" rows="3" style="width:100%;border-radius:4px;border:1px solid"></textarea>
        </div>
    </div>

</form>
        </div>
    </div>    
        <%if(model.get("Type")=="buying"){%>
        <button id="checkQuoting" class="btn btn-primary">查看报价</button>
        <%}%>
        <button id="update" class="btn btn-success">修改信息</button>
        <button id="photoManager" class="btn btn-info">管理图片</button>
        <button id="delete" class="btn btn-danger">删除信息</button>


</div>
