<style>
	.welcome{
		position: absolute;
		top:30%;
		left:40%;
		color:#fff;
		font-weight: 100
	}
</style>	

				<div class="row">
					<div id="content" class="col-lg-12">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header" style="padding:0px">
									<div class="titleImage" style="min-height:200px; width:100%;background:url(<%=baseUrl+'App/img/gardenbg.jpg'%>);background-size:cover"></div>
									<div class="welcome">
									<h4>
										资材交易
									</h4>
									</div>

								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- DASHBOARD CONTENT -->
						<div class="row" style="margin-left:0px;margin-right:0px">
							<!-- COLUMN 1 -->
							<div class="col-md-6">
								<div class="row">
								  <div class="col-lg-6">
									 <div class="navButton dashbox panel panel-default" data-des="garden" data-filter="selling">
										<div class="panel-body">
										   <div class="panel-left red">
												<i class="fa fa-cog fa-3x"></i>
										   </div>
										   <div class="panel-right">
												<div class="number">我要买资材</div>
										   </div>
										</div>
									 </div>
								  </div>
								  <div class="col-lg-6">
									 <div class="navButton dashbox panel panel-default" data-des="garden" data-filter="buying">
										<div class="panel-body">
										   <div class="panel-left blue">
												<i class="fa fa-jpy fa-3x"></i>
										   </div>
										   <div class="panel-right">
												<div class="number">我要卖资材</div>
										   </div>
										</div>
									 </div>
								  </div>
								</div>
							</div>
							<!-- /COLUMN 1 -->
							
						</div>
					   <!-- /DASHBOARD CONTENT -->


					</div><!-- /CONTENT-->
				</div>