<style>
#photoSliders{
 height:200px;
}
.carousel-control span{
    margin-top: 75px
}
.noPic{
    width:100%;
    height:200px;
    background-color:#eee
}
.noPic h4{
        position: absolute;
    top: 43%;
    left: 40%;
    color: #999;
}
.detailinfo{
    list-style-type: none;
    padding:0px;
    font-size:14px;
}
.detailinfo>li{
    padding-top:10px;
    border-bottom: 1px solid #eee
}
.detailinfo>li>p{
    margin:0px;
}
</style>
<div class="row">
    <div id="content" class="col-lg-12">
        <!-- PAGE HEADER-->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header" style="padding:0px">
                    <!-- CAROUSEL-->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                    
                            <%if(photoCollection&&photoCollection.length>0){%>
                                    <div id="photoSliders" class="carousel slide">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                                <%photoCollection.forEach(function(model,index){%>
                                                    <div class="item <%=(index==0)? 'active':''%>">
                                                    <div style="background:url(<%=baseurl+model.FilePath%>);background-size:cover;height:200px;width:100%">                                                    
                                                    </div>
                                                    </div>
                                                    <%})%>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#photoSliders" data-slide="prev">
                                            <span class="fa fa-prev"><i class="fa fa-chevron-left"></i></span>
                                        </a>
                                        <a class="right carousel-control" href="#photoSliders" data-slide="next">
                                            <span class="fa fa-next"><i class="fa fa-chevron-right"></i></span>
                                        </a>
                                    </div>
                            <%}else{%>
                                <div class="noPic">
                                    <h4 style="">暂无图片</h4>
                                </div>
                            <%}%>
                                

                        </div>
                    </div>
                    <!-- CAROUSEL-->

                </div>
            </div>
        </div>
        <!-- /PAGE HEADER -->
        <!-- DASHBOARD CONTENT -->
        <div class="row">
            <div class="col-xs-12" style="padding-left:30px;padding-right:30px">
                <div class="panel panel-default productPanel" data-des="product" data-filter="detail">
                    <div class="panel-body" style="padding:10px">
                        <div class="content">
                            <ul class="detailinfo">
                                <li>
                                   <label for="">品名:</label>
                                   &nbsp<span><%=model.get('Name')%></span> 
                                </li>
                                <li>
                                    <label for="">数量:</label>
                                    &nbsp<span><%=model.get('Quant')%></span>
                                </li>
                                <li>
                                    <label for="">单位</label>
                                    &nbsp<span><%=model.get('Unit')%></span>
                                </li>
                                <li>
                                    <label for="">价格</label>
                                    &nbsp<span style="color:#96ae60"><%=model.get('Price')%></span>
                                </li>
                                <li>
                                    <label for="">地点</label>
                                    &nbsp<span><%=model.get('Location')%></span>
                                </li>
                                <li>
                                    <label for="">规格</label>
                                    <%if(model.get('DiJin')){%>
                                        <p>地径：<%=model.get('DiJin')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('MiJin')){%>     
                                        <p>米径：<%=model.get('MiJin')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('XiongJin')){%>     
                                        <p>胸径：<%=model.get('XiongJin')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('GuanFu')){%>     
                                        <p>冠幅：<%=model.get('GuanFu')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('GaoDu')){%>     
                                        <p>高度：<%=model.get('GaoDu')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('FenZhi')){%>     
                                        <p>分支：<%=model.get('FenZhi')%>&nbsp 个</p>
                                    <%}%>
                                    <%if(model.get('TuQiu')){%>     
                                        <p>土球：<%=model.get('TuQiu')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('TiaoChang')){%>     
                                        <p>条长：<%=model.get('TiaoChang')%>&nbsp cm</p>
                                    <%}%>
                                    <%if(model.get('ShuLing')){%>     
                                        <p>树龄：<%=model.get('ShuLing')%>&nbsp 年</p>
                                    <%}%>
                                    <%if(model.get('FenZhiDian')){%>     
                                        <p>分支点：<%=model.get('FenZhiDian')%>&nbsp 个</p>
                                    <%}%>
                                    <%if(model.get('Mao')){%>     
                                        <p>帽：<%=model.get('Mao')%></p>
                                    <%}%>
                                </li>
                                <li>
                                    <label for="">详情</label>
                                    &nbsp<p><%=model.get('Description')%></p>
                                </li>

                            </ul>

                        </div>
                        <!--        <div class="tagContainer">
                    <div class="triangleTag"></div>
                    <p>甩</p>
                  </div> -->
                    </div>
                </div>
                <div class="col-xs-12" style="margin-bottom:10px;padding:0px">
                    <%switch(model.get("Type")){
                        case "selling":
                        case "quoting": %>
                            <button id="contact" style="width:100%"id="change" class="btn btn-success col-md-12 col-sm-12">联系卖家</button>
                        <%break;
                        case "buying": %>
                            <button id="makeQuote" style="width:100%"id="change" class="btn btn-success col-md-12 col-sm-12">报价</button>
                        <%break;
                        }%>
                            
                </div>
            </div>
        </div>
        <!-- /DASHBOARD CONTENT -->
    </div>
    <!-- /CONTENT-->
</div>