					<style>
						#search-bar .search{
							    width:80%;
						}
					</style>
					<div class="row">
					<div id="content" class="col-lg-12">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header" style="padding-top:20px;min-height:80px">
									<div class="input-group">
										<input id="searchBox" type="text" class="form-control" placeholder="按品名地址搜索">
										<span class="input-group-btn">
										<button id="searchButton" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
										</span>
									</div><!-- /input-group -->
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- DASHBOARD CONTENT -->
						<div class="row">
							<ul id="productContainer">
								
							</ul>
						</div>
					   <!-- /DASHBOARD CONTENT -->


					</div><!-- /CONTENT-->
				</div>